#LOCAL_SETUP - used by first_setup.sh scripts
LOCAL_DOCKER_USER=dockeruser1
LOCAL_DOCKER_GROUP=dockeruser1
LOCAL_DOCKER_VOLUME_DIR=/docker-vol1
DOMAIN=rjruss.org
BASE_HOST=ubhost-
STEP_HOST=${BASE_HOST}step
POSTDB_HOST=${BASE_HOST}post1
TX_SHARED_ENV_GROUP=5501
TX_SHARED_GROUP_NAME=sharedenv
TX_SHARED_DIR=/srv/shared
TX_AGEDIR=/srv/shared/.age
TX_AGEDIR_KEYS=/srv/shared/.age/.keys
TX_AGEDIR_INFO=/srv/shared/.age/.info
TX_POSTGRES_USER=grafanadbuser
TX_POSTGRES_DB=grafanadb
#TX_STEP_HOST=container name and port or swap to DNS host 
TX_STEP_HOST=https://newhost-step.rjruss.org:9011
TX_APP_STEP_VERSION=0.27.2
TX_APP_POSTGRES_VERSION=17
TX_APP_GRAFANA_VERSION=11.0.0
TX_APP_PROMETHEUS_VERSION=2.45.5
TX_APP_ALERTMANAGER_VERSION=0.27.0
TX_APP_NODE_EXPORTER_VERSION=1.8.1
#
USER_UID=1245
USER_GID=1245
TX_ALLOWED_SUBNET=172.18.0.0/16,10.10.50.215/24
GRAFANA_HOST=${BASE_HOST}grafana
TX_GRAFANA_PORT=5009
PROMETHEUS_HOST=${BASE_HOST}prom
TX_PROMETHEUS_PORT=9091
TX_ALERTMANAGER_PORT=9094
NODE_EXPORTER_HOST=${BASE_HOST}nodeexp
TX_NODE_EXPORTER_PORT=9021
MY_HOST_FQDN=hawubtest.rjruss.org
